/* Rules */

.block-section.section-content h1.title {
    position: relative;
}

.block-section.section-content h1.title::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 120%;
    width: 100px;
    height: 2px;
    background-color: #4C566A;
}

.block-section.section-content h1.title{
    color: #4C566A;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    z-index: 4;
}

.align-left{
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.little-padding{
    padding: 25px 0 !important;
}

.block-section.section-content{
    background-color: #ECEFF4;
    height: 100vh;
    width: 100%;    
    position: relative;
}

.block-section.section-content #scrollspy{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 1px solid red; */
}

.block-section.section-content #scrollspy::before{
    background-color: white;
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 4px;
    height: 100px;
    animation: scrolldown 2s infinite ease-in;
    transform: translate(-50%,0) rotate(180deg);
}

.block-section.section-content #scrollspy::after {
    color: white;
    color: #4C566A;
    content: 'SCROLL';
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    font-family: Manrope;
    font-size: 18px;
    /* display: none; */
}

@keyframes scrolldown{
    0%{
        height: 100px;
    }

    50%{
        height: 0px;
    }

    75%{
        height: 0px;
    }

    100%{
        height: 100px;
    }
}




.block-section.section-title{
    background-color: #ECEFF4;
    width: 100%;
    padding: 100px 0;
}

.block-section.section-title.section-projet-title{
padding-bottom: 0;
}

.block-section .section-inner{
    margin: 0 50px;
}


.block-section.section-title .section-inner {
    position: relative;
}


.block-section.section-content h2.title ,
.block-section.section-title h2.title {
    color: #4C566A;
    font-family: Manrope;
    position: relative;
    font-size: 35px;
    /* border: 1px solid red; */
    text-align: center;
    transition: .4s ease all;
}

.block-section.section-content h2.title::before,
.block-section.section-title h2.title::before { 
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    height: 2px;
    width: 100px;
    transform: translate( -50%, 0);
    border: 2px solid white;
    transition: 1s ease all;
    border-radius: 5px;
}

.block-section.section-content h2.title:hover::before,
.block-section.section-title h2.title:hover::before { 
    width: 150px;
}

.block-section h3.title {
    color: #4C566A;
    font-family: Manrope;
    position: relative;
    font-size: 30px;
    /* border: 1px solid red; */
    transition: .4s ease all;
    font-weight: 500;
}

.block-section p.paragraph{
    font-family: Manrope;
    font-size: 18px;
    color: #4C566A
}

.block-section .image{
    position: relative;
}

.block-section .image::after {
    position: absolute;
    content: '';
    bottom: -25px;
    left: 50%;
    width: 50px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    transform: translate(-50%, 0);
}

/* .block-section .image::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
    transition: .6s ease all;
}

.block-section .image:hover::before {
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100px;
    height: 100px;
    border: 2px solid #4C566A;
} */

.block-section .image img{
    position: relative;
}

.relative{
    position: relative;
    height: 75vh;
}

/* CSS : */

/* Surcouche */
/* header */
.block-section.section-surcouche{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    display: none;
    top: 0;
    left: -100%;
    /* transition: ease all; */
}

.block-section.section-surcouche .header-column{
    background-color: white;
    height: 100vh;
}

.block-section.section-surcouche .header-column:last-child {
    background-color: #D8DEE9;
}

.block-section.section-surcouche .block-nav{
    margin-top: 100px;
}

.block-section.section-surcouche .block-nav .menu .item{
    margin-bottom: 50px;
    position: relative;
}

.block-section.section-surcouche .block-nav .menu .item::after {
    position: absolute;
    top: 50%;
    left: -20px;
    background-color: white;
    height: 10px;
    width: 10px;
    transform: translate(0, -50%);
    content: '';
    border-radius: 50%;
    transition: .4s ease all;
}

.block-section.section-surcouche .block-nav .menu .item:hover::after {
    background-color: #ECEFF4;
}

.block-section.section-surcouche .block-nav .menu .item a,
.block-section.section-surcouche .block-nav .menu .item a:hover,
.block-section.section-surcouche .block-nav .menu .item a:focus,
.block-section.section-surcouche .block-nav .menu .item a:active
 {
    text-decoration: none;
    color: #4C566A;
}

/* .block-section.section-surcouche .block-nav .menu .item a .title{

} */
/* surcouche */
 .surcouche-bar {
    background-color: white;
}

 .surcouche-bar.left-bar {
    height: 100vh;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.surcouche-bar.top-bar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.surcouche-bar.right-bar {
    height: 100vh;
    width: 50px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
}

.surcouche-bar.bot-bar {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.index-link{
    position: fixed;
    top: 25px;
    left: 50px;
    z-index: 3;
    transform: translate(0, -50%);
    z-index: 6;
}

.index-link .link{
    color: #4C566A;
    font-size: 25px;
    font-family: Manrope, sans-serif;
    text-decoration: none;
    transition: .2s ease all;
}

.index-link .link:hover,
.index-link .link:focus,
.index-link .link:active
{
    color: #ECEFF4;
}

.menu-button{
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    z-index: 11;
    cursor: pointer;
    text-transform: uppercase;
    transition: .4s ease all;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.menu-button:hover {
    color: #D8DEE9;

}

.menu-button-bars{
    width: 25px;
    height: 25px;
    margin: auto;
    position: relative;
}

.menu-button:hover .menu-button-bar {
    background-color: #D8DEE9;
}

.menu-button-bars .menu-button-bar {
    height: 100%;
    width: 2px;
    background-color: #4C566A;
    position: absolute;
    transition: .4s ease all;
}

.off .menu-button-bars .menu-button-bar.menu-button-bar-1 {
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
}

.on .menu-button-bars .menu-button-bar.menu-button-bar-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.off .menu-button-bars .menu-button-bar.menu-button-bar-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.on .menu-button-bars .menu-button-bar.menu-button-bar-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.off .menu-button-bars .menu-button-bar.menu-button-bar-3 {
    top: 50%;
    left: 100%;
    transform: translate(-50%,-50%);
}

.on .menu-button-bars .menu-button-bar.menu-button-bar-3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* Section-1  */

.block-section.section-content .section-inner .section1-index{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.block-section.section-content .section-inner .section1-index .section1-index-image {
    height: 550px;
    width: 550px;
    /* background-color: red; */
    /* border: 1px solid red; */
    position: relative;
}

.block-section.section-content .section-inner .section1-index .section1-index-image .section1-index-losange {
    /* height: 550px; */
    /* width: 550px; */
    transform: rotate(45deg) scale(.71);
    overflow: hidden;
    /* border: 1px solid green; */
    position: relative;
}

.block-section.section-content .section-inner .section1-index .section1-index-image .section1-index-losange::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%,-50%);
    animation-name: whitepointIndex;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes whitepointIndex {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: 100%;
    }

    50% {
        top: 100%;
        left: 100%;
    }

    75% {
         top: 100%;
         left: 0;
    }

    100%{
         top: 0;
         left: 0;
    }
}


.block-section.section-content .section-inner .section1-index .section1-index-image .section1-index-losange img{
    height: 100%;
    width: 100%;
    transform: rotate(-45deg) scale(1.42);
    /* border: 1px solid black; */
}

.block-section.section-content .section-inner .section1-index .section1-index-image .section1-rond{
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.block-section.section-content .section-inner .section1-index .section1-index-titre .section1-index-titre-content{
    color: white;
    font-family: Manrope;
    font-size: 25px;
    position: relative;
}

.block-section.section-content .section-inner .section1-index .section1-index-titre .section1-index-titre-content::after{
    content: '';
    position: absolute;
    right: 0;
    top: 55%;
    transform: translate(0, -50%);
    width: 430px;
    height: 2px;
    background-color: white;
}

/* CV */

.block-section.section-title .skills{
    width: 450px;
    position: relative;
    height: 200px;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    padding-bottom: 0;
    margin: auto;
}

.block-section.section-title .skills::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.block-section.section-title .skills .skill-pepe{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    /* border: 1px solid red; */
    width: 135px;
    height: 135px;
    /* border: 1px solid red; */
}

.block-section.section-title .skills .skill-img{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: translate(0,-50%);
}

.block-section.section-title .skills .skill-img.skill-img-1 {
    /* background-color: red; */
    top: 0;
    right: 110%;
}

.block-section.section-title .skills .skill-img.skill-img-2 {
    /* background-color: red; */
    top: 50%;
    right: 125%;
    /* border: 1px solid red; */
}

.block-section.section-title .skills .skill-img.skill-img-3 {
    /* background-color: red; */
    top: 100%;
    right: 110%;
}

.block-section.section-title .skills .skill-img.skill-img-4 {
    /* background-color: red; */
    top: 0;
    left: 110%;
}

.block-section.section-title .skills .skill-img.skill-img-5 {
    /* background-color: red; */
    top: 50%;
    left: 125%;
}

.block-section.section-title .skills .skill-img.skill-img-6 {
    /* background-color: red; */
    top: 100%;
    left: 110%;
}

/* experiences */
.block-section.section-title.section-experiences h3.title {
    text-align: center;
    font-family: Manrope;
    font-size: 25px;
    margin-bottom: 50px;
    position: relative;
    /* border: 1px solid red; */
    z-index: 3;
}

.block-section.section-title.section-experiences h3.title::before{
    position: absolute;
    content:'';
    width: 75px;
    height: 2px;
    bottom: -15px;
    left: 50%;
    background-color: #4C566A;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

p.paragraph a.link{
    position: relative;
    text-decoration: underline;
}

p.paragraph a.link:hover,
p.paragraph a.link:focus,
p.paragraph a.link:active
{
    color: #2E3440;
}

/* projets */

/* .block-section.section-title.section-projets-list */
.block-section.section-title.section-projets-list .projets-item{
    margin-bottom: 50px;
    background-color: white;
    padding: 15px;
    position: relative;
}

.block-section.section-title.section-projets-list .projets-item .projets-img{
    height: 250px;
    width: 250px;
    float: right;
    /* border: 1px solid red; */
    margin: 0;
    overflow: hidden;
    position: relative;
}

.block-section.section-title.section-projets-list .projets-item .projets-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%,-50%);
}

.block-section.section-title.section-projets-list .projets-item h3.title {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

/* page projet */


.block-section.section-content .projet-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.block-section.section-content .projet-header .projet-img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-110%, -50%);
    width: 250px;
    height: 250px;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.block-section.section-content .projet-header h3.title {
    z-index: 3;
    text-align: center;
    /* background-color: white; */
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.block-section.section-content .projet-header h3.title::after {
    content: '';
    position: absolute;
    top: 50%;
    left:100%;
    width: 150px;
    height: 2px;
    background-color: #4C566A;
}

/* projet - blabla */

.section-title .projet-img img{
    margin: 25px 0;
    width: 100%;
}

p.paragraph a.link{
    color: #4C566A;
    text-decoration: underline;
}

p.paragraph a.link:hover,
p.paragraph a.link:focus,
p.paragraph a.link:active
 {
    color: black;
}


/* realisations */


.block-section.section-title .projet-title{
    position: relative;
    width: 450px;
    height: 150px;
    background-color: white;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
}

.block-section.section-title .projet-title::before{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 2px solid white;
    transform: translate(-50%,-50%);
}

.block-section.section-title .projet-title .projet-pepe{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 100px;
    height: 100px;
}

.section-projet-slider .item{
    height: 240px;
}

.back-to-projets {
    position: fixed;
    bottom: 75px;
    right: 75px;  
    z-index: 9; 
}

.back-to-projets a{
    color: #4C566A;
    font-family: Manrope;
    font-size: 15px;
    text-decoration: none;
    color: inherit;
    position: relative;
    padding: 5px;
}

.back-to-projets a::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #4C566A;
    opacity: 0;
    transition: .4s ease all;
}

.back-to-projets:hover a::after {
    left: -55px;
    opacity: 1;
}

/* realisations */
.realisations-item{
    position: relative;
    height: 255px;
}

.realisations-item .img-realisations {
    transition: .4s ease all;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.selected{
    border-radius: 50%;
}

.realisations-content{
    /* border: 1px solid red; */
    display: none;
    padding: 0;
    /* margin: 0 15px; */
    /* transform: translate(0, -100%); */
    /* transition: .4s ease all; */
    position: absolute;
    top: 100%;
    z-index: 6;
    width: 200%;
}

.realisations-content p{
    background-color: white;
    margin-top: 0;
    padding: 15px;
    width: 100%;
}

.block-section.section-realisation-filter {
   padding-bottom: 5px;
}


.block-section.section-realisation-filter .r-filter{
    display: flex;
    justify-self: start;
}

.block-section.section-realisation-filter .r-filter .r-item{
    padding: 10px 15px;
    color: #4C566A;
    font-family: Manrope;
    font-size: 18px;
    position: relative;
    margin-bottom: 15px;
    z-index: 4;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.block-section.section-realisation-filter .r-filter .r-item::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #4C566A;
    bottom: 0;
    left: 0;
    position: absolute;
}

.block-section.section-realisation-filter .r-filter .r-item::before {
    content: '';
    width: 0px;
    height: 0px;
    border: 4px solid #D8DEE9;
    /* background-color: #D8DEE9; */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    transition: .4s ease all;
}

.block-section.section-realisation-filter .r-filter .r-item.r-selected::before {
    content: '';
    width: 35px;
    height: 35px;
    border: 4px solid #D8DEE9;
    /* background-color: #D8DEE9; */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: -1;
}

/* contact */
.contact-section{
    padding-top: 25px !important;
    padding-bottom: 100px !important;
}

.contact-section .col-3{
    text-align: center;
    font-size: 35px;
    padding: 25px 0;
    position: relative;
    z-index: 4;
    /* border: 1px solid red */
}

.contact-section .col-3 a,
.contact-section .col-3 a:hover,
.contact-section .col-3 a:visited
{
    color: #4C566A;
    text-decoration: none;
}

.contact-section .col-3:hover a i{
    transition: .4s ease all;
    color: white;
}

.contact-section .col-3::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: #4C566A;
    border-radius: 50%;
    transition: .4s ease all;
    transform: translate(-50%, -50%) 
    scale(0)
    ;
    z-index: -1;
}


.contact-section .col-3:hover::before,
.contact-section .col-3:focus::before,
.contact-section .col-3:active::before
{
    transform: translate(-50%, -50%) 
    scale(1)
    ;
}

.mail-contact{

}

.mail-contact form .row div{
    margin-bottom: 20px;
    text-align: center;

}

.mail-contact form .contact-input{
    width: 100%;
    border: none;
    border-bottom: #D8DEE9 2px solid;
    padding: 10px;
    font-family: Manrope;
    font-size: 16px;
    background-color: #ECEFF4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: .4s ease all;
    color: #4C566A
}

.mail-contact form textarea.contact-input{
    height: 250px;
}

.mail-contact form .contact-input:focus{
    border-bottom: #4C566A 2px solid;
    background-color: #D8DEE9;
    color: #4C566A;
}

.mail-contact form .contact-submit{
    width: 200px;
    border: #4C566A 2px solid;
    padding: 10px;
    font-family: Manrope;
    font-size: 16px;
    background-color: #ECEFF4;
    color: #4C566A;
    transition: .4s ease all;
}

.mail-contact form .contact-submit:hover {
    border: #4C566A 2px solid;
    padding: 10px;
    font-family: Manrope;
    font-size: 16px;
    color: #4C566A;
    background-color: #D8DEE9;
}

.contacts-list .contact-item {
    text-align: center;
    font-family: Manrope;
    color: #4C566A;
    margin-bottom: 35px
}

.contacts-list .contact-icone{
    font-size: 25px;
}

.contacts-list .contact-item .contact-site a {
    width: 100%;
    color: #4C566A;
    font-size: 26px;
}

.contacts-list .contact-item .contact-etudiant{
    font-size: 16px;
}


/* Footer */

footer.block-footer{
    padding: 25px 0;
    background-color: #4C566A;
    color: white !important;
    margin-bottom: 50px;
    text-align: center;
}

footer.block-footer a,
footer.block-footer a:visited
{
    color: white;
    text-decoration: none;
}

footer.block-footer a:focus,
footer.block-footer a:active,
footer.block-footer a:hover{
    color: #2E3440;
}


/* MENTIONS */

.mentions p.paragraph{
    font-size: 15px;
}



/* RESPONSIVE */

@media screen and (max-width: 768px){
    .block-section.section-content .section-inner .section1-index .section1-index-image .section1-rond{
        width: 250px;
        height: 250px;
    }

    .block-section.section-content .section-inner .section1-index .section1-index-image{
        width: 300px;
        height: 300px;
    }

    .block-section.section-content .section-inner .section1-index .section1-index-titre .section1-index-titre-content{
        font-size: 18px;
    }

    .block-section.section-content .section-inner .section1-index .section1-index-titre .section1-index-titre-content::after{
        width: 50px;
    }

    .surcouche-bar.left-bar {
        width: 25px;
    }

    .surcouche-bar.top-bar {
        height: 25px;
    }

    .surcouche-bar.right-bar {
        width: 25px;
    }

    .surcouche-bar.bot-bar {
        height: 25px;
    }

    .index-link .link{
        font-size: 15px;
    }

    .index-link {
        top: 7.5px;
        left: 25px
    }

    footer.block-footer {
        margin-bottom: 25px;
    }

    .block-section.section-content #scrollspy {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translate(-50%, -50%);
        /* border: 1px solid red; */
    }

    .menu-button{
        left: 0;
        transform: translate(0, -50%) rotate(-90deg);
    }

    .menu-button .menu-text{
        display: none;
    }

    .section-content h3.title{
        font-size: 25px;
    }

    .block-section.section-content .projet-header h3.title::after{
        width: 50px;
    }

    .skills {
        display: flex;
        /* border: 1px solid red; */
    }

     .skills .skill-img{
        /* position: relative; */
     }

    .block-section.section-title .skills .skill-img{
        /* position: relative !important; */
    }

    .block-section.section-title .skills .skill-img.skill-img-1{
        right: initial;
    }
    .block-section.section-title .skills .skill-img.skill-img-2 {
        right: initial;
    }
    .block-section.section-title .skills .skill-img.skill-img-3 {
        right: initial;
    }
    .block-section.section-title .skills .skill-img.skill-img-4 {
        left: 50%;
    }

    .block-section.section-title .skills .skill-img.skill-img-5 {
        left: 50%;
    }

    .block-section.section-title .skills .skill-img.skill-img-6 {
        left: 50%;
    }

    .block-section.section-title .skills{
        width: 100%;
        height: 200px;
        padding: 15px;
    }

    .block-section.section-title .skills .skill-pepe {
        width: 75px;
        height: 75px;

    }

    .block-section h3.title{
        font-size: 25px;
        text-align: center;
        width: 100%;
    }

    .block-section.section-title.section-projets-list .projets-item .projets-img{
        width: 100px;
        height: 100px;
    }

    .block-section.section-title.section-projets-list .projets-item h3.title{
        bottom: 5px;
        left: 15px;
        text-align: left;
        width: 50%;
    }

    .block-section p.paragraph {
        font-size: 15px;
    }

    .block-section.section-content .projet-header .projet-img {
        position: absolute;
        top: -150%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
        z-index: 1;
        background-color: white;
        border-radius: 5px;
        padding: 15px;
    }

    .block-section.section-content .projet-header h3.title::after {
        width: 0px;
    }

    .block-section.section-title .projet-title {
        position: absolute;
        width: 90%;
        height: 200px;
        background-color: white;
        border-radius: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 10px;
        padding-bottom: 10px;
        padding-bottom: 0;
    }

    .back-to-projets {
        position: fixed;
        bottom: 5px;
        left: 50%;
        z-index: 11;
        height: 15px;
        width: 100%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .block-section.section-title {
        background-color: #ECEFF4;
        width: 100%;
        padding: 50px 0;
    }

    .block-section.section-title.section-projet-title{
        padding: 100px 0 !important;
    }

    .block-section.section-title.section-projet-slide {
        padding: 25px 0 !important;
    }

    .block-section .section-inner {
        margin: 0 25px;
    }

    .projets-list.row{
        margin: 0 !important;
    }

    .block-section .image::after {
        position: absolute;
        content: '';
        bottom: -10px;
        left: 50%;
        width: 50px;
        height: 5px;
        background-color: white;
        border-radius: 5px;
        transform: translate(-50%, 0);
    }

    .block-section.section-content h1.title::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 110%;
        width: 25px;
        height: 2px;
        background-color: #4C566A;
    }
}

/* page erreur */

.error img{
    width: 100%;
    margin: auto;
}

.error ::after,
.error ::before{
    display: none;
}

.error * {
    text-align: center;
}

.error .link {
    font-family: Manrope;
    font-size: 20px;
    color: #4C566A;
    text-decoration: underline;
}

.error .link:hover,
.error .link:focus,
.error .link:active
 {
    color: #2E3440;
}

.mentions a{
    color: #4C566A;
    text-decoration: none;
}

.mentions a:hover{
    color: #4C566A;
    text-decoration: underline;
}

.erreur-form {
    width: 100%;
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    color: white;
    background-color: #4C566A;
    padding: 10px 0;
    cursor: pointer;
}   